*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}

header li {
 display: inline;
}

.conteiner {
    width: 1200px;
    margin: 0 auto ;
}

.articles {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.articles article img {
height: 180px;
}

.articles article {
    width: 30%;
}

#sports h2 {
    color: rgb(5, 5, 5);
}

#economy h2 {
    color: rgb(5, 5, 5);
}

#entertainment h2 {
    color: rgb(5, 5, 5);
}

#technology h2 {
    color: rgb(5, 5, 5);
}


header .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


body > header {
    background-color: rgba(108, 54, 196, 0.767);
    padding: 16px 0;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
margin-top: 8px;
margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

header li a {
    color:white;
}

.articles article p 
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

.articles article h2 {
    font-size: 32px;
}

#sports {
    background-color:rgb(87, 206, 63);
}

#economy {
    background-color: #fffa65;
}

#entertainment {
    background-color: wheat;
}

#technology {
    background-color:rgb(54, 54, 218) ;
}

#technology .articles article {

}